<form action="/artists/{{id}}" method="POST" style="clear: left; text-align: center;">
	
	<input type="hidden" name="_method" value="PUT">

	<label for="name">Name<br>
		<input type="text" name="name" value="{{name}}"><br>
	</label><br>

	<label for="photo_url">Photo URL<br>
		<input type="text" name="img_url" value="{{img_url}}"><br>
	</label><br>

	<label for="nationality">Nationality<br>
		<input type="text" name="nationality" value="{{nationality}}"><br>
	</label><br>

	<label for="nationality">Birth Year<br>
		<input type="text" name="birth_year" value="{{birth_year}}"><br>
	</label><br>

	<label for="nationality">Description<br>
		<input type="text" name="description" value="{{description}}"><br>
	</label><br>

	<input type="submit" value="Submit">

</form>

	<br>

<form action="/artists/{{id}}" method="POST" style="clear: left; text-align: center;">
	
	<input type="hidden" name="_method" value="DELETE">

	<button>DELETE ARTIST</button>

</form>