<h1>
	List of Bourbons
</h1>

{{#each liquors}}
	<div class="liqIndexBoxes">
		<h3>
			<a class='liqHead' id="liqshow" href="/liquors/{{id}}">{{liq_name}}</a>
		</h3>
		<a href="/liquors/{{id}}">
			<img  class="oneBottle" src="{{img_url}}" alt="" width="200" height="200">
			<a id="liqDesc" > Description :{{description}}</a>
		</a>	
		<p>Added By User : {{user_id}}</p>
	</div>
{{/each}}

<div class="nav">
	<a href="/liquors/new">
		Add A New Bourbon
	</a>
</div>
