
	<div id="showBrand">
		<p class="banner">{{liquor.liq_name}}</p>	
		<a href="/liquors/{{liquor.id}}">
			<img src={{liquor.img_url}}>
		</a>	
		<p>Added By : {{user.name}}</p><img class="thumb" src={{user.img_url}}>
	</div>

	
