<div class="single box" style="text-align: center; clear:left;">
  <p>{{painting.year_made}}</p>
  <img src="{{painting.img_url}}" width=350 height=350><br>
    <strong>
      <a href="/artists/{{artist.id}}" style="tdecoration: underline;">
        {{artist.name}}
      </a>
    </strong><br><br>
    <a href="/paintings/edit/{{painting.id}}" style="text-decoration: underline;">
      <strong>Edit painting</strong>
    </a>
</div>