<h1>
	Threadssssssssss
</h1>

{{#each threads}}
	<div class="content">
		<div id="liqSingleBox">
				<a class='liqHead' href="/threads/{{id}}">{{title}}</a>
			<a href="/threads/{{id}}">
				<a id="liqDesc" > {{comment}}</a>
			</a>	
			<p>Added By User : {{user_id}}</p>
			<p>View Count : {{view_count}}</p>
			<p>Comment Count : {{comment_count}}</p>
		</div>	
	</div>
{{/each}}

