<!DOCTYPE html>


<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=NO">
    <meta charset="utf-8">
     <style>
      html, body, #map-canvas2 {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    // {{!-- <script src="https://maps.googleapis.com/maps/api/js"></script> --}}
    <script >
      $(function() {
        $.get('/getUsersForMap', function (userJSON) {
          console.log(userJSON);
         initialize(userJSON); 
        });
      });
      function initialize(JSON) {
        var startingPosition = new google.maps.LatLng(40.740083, -73.990070);

        var mapOptions = {
          zoom : 13,
          center : startingPosition

        };

        var map = new google.maps.Map(document.getElementById('map-canvas2'), mapOptions);

        var infowindow = new google.maps.InfoWindow();

        for(var i = 0; i < JSON.length; i++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(JSON[i].latitude, JSON[i].longitude),
            map: map,
            animation: google.maps.Animation.DROP
            
          });
         } 
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(JSON[i].name);
              // infowindow.setContent(markerContent);
              infowindow.open(map, marker);
            
            }
          })
          (marker, i));
        google.maps.event.addDomListener(window, 'load', initialize);    
        };
        
      
    </script>
</head>

<body>
<div id="map-canvas2"></div>
</body>  

<div class='content'>
{{#each users}}
  <div class="single box">
    <h3>
      <a href="/users/{{id}}">{{name}}</a>
    </h3>
    <a href="/users/{{id}}">
      <img src="{{img_url}}" alt="" width="200" height="200">
    </a>  
    <p>{{email}} pass : {{password}}</p>
    <p>{{city}} , {{state}}</p>
    <p>Lat: {{latitude}} Long: {{longitude}}</p>
    <p>{{id}}</p>
  </div>
{{/each}}
</div>>
  
    
